name: Deploy to live

on:
  push:
    branches: 
      - 'main'

jobs:
  deploy-main:
    runs-on: ubuntu-24.04-arm
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{secrets.AWS_ROLE_TO_ASSUME}}
          aws-region: ${{secrets.AWS_REGION}}

      - name: Invoke Lambda
        run: |
          aws lambda invoke \
            --cli-binary-format raw-in-base64-out \
            --function-name aws-managed-services-versions-fetch \
            --invocation-type Event \
            --payload '{ "output_file": "index.html" }' \
            response.json
